server:
  port: 9527
spring:
  application:
    name: askme-gateway
  cloud:
    nacos:
      server-addr: localhost:8848
    gateway:
      discovery:
        locator:
          enabled: true #开启从注册中心动态创建路由的功能，利用微服务名进行路由
      routes:
        - id: test_route #路由的ID，没有固定规则但要求唯一，建议配合服务名
          uri: https://www.baidu.com #匹配后提供服务的路由地址
          predicates:
            - Query=url,baidu

        - id: qq_route
          uri: https://www.qq.com
          predicates:
            - Query=url,qq

        - id: qq_route
          uri: https://www.qq.com
          predicates:
            - Query=url,qq